@import '../../sass/theme.scss';

.head{
  display: flex;
  height: 10.6667vw;
  position: relative;
  align-items: center;
  justify-content: center;
  background: $f6;
  i{
      position: absolute;
      left: 5%;
      font-size: 4vw;
  }
  h5{
      font-size: 4vw;
  }
}